<ion-view>
	<div class="bar bar-header head-col">
	  <button class="button button-icon bold ion-ios-arrow-thin-left" ui-sref="buyer-details"></button>
	  <div class="h1 title bold">EDIT A BUYER</div>
    </div>
    <ion-content  scroll="false">
		 <form class="reg-form">
            <ion-list>
                <label class="item-input login-input reg-input">
                    <input type="text" placeholder="Name">
                </label>
                <label class="item-input login-input reg-input">
                    <input type="text" placeholder="Buyer 2 Name (Optional)">
                </label>
                <label class="item-input login-input reg-input">
                    <input type="text" placeholder="Address Line 1">
                </label>
                <label class="item-input login-input reg-input">
                    <input type="text" placeholder="Address Line 2">
                </label>	
                <label class="item-input login-input reg-input">
                    <input type="text" placeholder="Phone #">
                </label>
				 <label class="item-input login-input reg-input">
                    <input type="email" placeholder="Email">
                </label>
            </ion-list>
		 </form>
		
    </ion-content>
				<ion-footer-bar class="bar-assertive" ui-sref="app.tabs.buyeractive">
				  <p class="title reg-mid1">SAVE</p>
				</ion-footer-bar>
</ion-view>
