<ion-view hide-nav-bar="true">
	<div class="bar bar-header head-col">
	  <button class="button button-icon off-togg ion-navicon" menu-toggle="left"></button>
	  <div class="h1 title bold">DISCOVER HOMES</div>
    </div>
	<div class="bar bar-subheader head-col">
	  <h2 class="title hf-clr">Austin, TX</h2>
	</div>	
    <ion-content scroll="true">
            <ion-list>
				    <img ng-src="{{image1}}" class="hf-img">
					<button class="button button-full hf-browse" ui-sref="app.tabs.getstarted">
					  BROWSE ALL PROPERTIES
					</button>
                    <div class="hf-gap">
					  <p class="hf-get">
					  YOUR OFFERS FEED
					  </p>
                    </div> 					
            </ion-list>
			<ion-list class="login-form">
                <button class="button-full bold h-stp">
					<img src="img/Home_03.png" class="off-icon">
                    <span class="off-icon off-text">Buyer's Signed Contract</span>
                </button>
				<div class="row npad">
				  <div class="col-40"><img  ng-src="{{image2}}" class=" img-all"></div>
				  <div class="col-60" style="padding: 2% 0 0 5%;">
					  <div class="row h-imgt1"  ng-bind-html="home"></div>
					  <div class="row h-imgt2"  ng-bind-html="price"></div>
					  <div class="row h-imgt3"  ng-bind-html="location"></div>
					  <div class="row off-date"  ng-bind-html="date"></div>
				  </div>
				</div>
            </ion-list>
            <ion-list class="login-form">
                <button class="button-full bold h-sty1">
					<img src="img/rightarrow.png" class="off-icon">
                    <span class="off-icon off-text">Sent to Seller</span>
                </button>
				<div class="row npad">
				  <div class="col-40"><img  ng-src="{{image2}}" class=" img-all"></div>
				  <div class="col-60" style="padding: 2% 0 0 5%;">
					  <div class="row h-imgt1"  ng-bind-html="home"></div>
					  <div class="row h-imgt2"  ng-bind-html="price"></div>
					  <div class="row h-imgt3"  ng-bind-html="location"></div>
					  <div class="row off-date"  ng-bind-html="date"></div>
				  </div>
				</div>
            </ion-list>
            <ion-list class="login-form">
                <button class="button-full bold h-sty2">
					<img src="img/eye.png" class="off-icon">
                    <span class="off-icon off-text">Viewed by Sellers</span>
                </button>
				<div class="row npad">
				  <div class="col-40"><img  ng-src="{{image2}}" class=" img-all"></div>
				  <div class="col-60" style="padding: 2% 0 0 5%;">
					  <div class="row h-imgt1"  ng-bind-html="home"></div>
					  <div class="row h-imgt2"  ng-bind-html="price"></div>
					  <div class="row h-imgt3"  ng-bind-html="location"></div>
					  <div class="row off-date"  ng-bind-html="date"></div>
				  </div>
				</div>
            </ion-list>			
    </ion-content>
</ion-view>
