<ion-view>
	<div class="bar bar-header head-col">
	  <button class="button button-icon bold ion-ios-arrow-thin-left" ui-sref="editcontract"></button>
	  <div class="h1 title bold">YOUR SIGNATURE</div>
    </div>
    <ion-content class="login-form" scroll="false">
		    <ion-item class="no-padd">
                <p class="sig-text">
                   Please write your signature:
                </p>
            </ion-item>
			<input type="text" class="sig-input">
			<div class="row">
			    <img src="img/raindrop1.png" class="col-15 sig-clricon">
			    <img src="img/raindrop2.png" class="col-15 sig-clricon1">
                <img src="img/raindrop3.png" class="col-15 sig-clricon1">
				<div class="col-25"></div>
				<img src="img/pencil.png" class="col-15 sig-clricon1">
                <img src="img/box1.png" class="col-15 sig-clricon1">
			 </div>
		    <ion-item class="no-padd">
                <p class="sig-text2">
                   Use colors and eraser if needed.
                </p>
            </ion-item>		
              <button class="button button-full bold sig-button">
                  TAKE A PHOTO OF YOUR SIGNATURE
              </button>
		    <ion-item class="no-padd">
                <p class="sig-text">
                   Please write your initials:
                </p>
            </ion-item>
		    <ion-item class="no-padd">
                <p class="sig-text2 sig-mt">
                   Write your initials here.
                </p>
            </ion-item>			
     </ion-content>
				<ion-footer-bar class="bar bar-footer pd-foo" ui-sref="savedcontract">
				  <div class="title reg-tittle bold">SAVE SIGNATURE & INITIALS</div>
				</ion-footer-bar>
</ion-view>
