<ion-view>
	<ion-tabs class=" tabs-icon-top">

          <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/app/tabs/home">
            <ion-nav-view name="tab-home"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Buyers" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/app/tabs/buyeractive">
            <ion-nav-view name="tab-buyers"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Offers" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/app/tabs/offers">
            <ion-nav-view name="tab-offers"></ion-nav-view>
          </ion-tab>

		  <ion-tab title="Listings" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/app/tabs/getstarted">
            <ion-nav-view name="tab-getstarted"></ion-nav-view>
          </ion-tab> 

        </ion-tabs>
</ion-view>
